.interests {
  &__list {
    width: 12.5rem;
    height: 12.5rem;
    padding: 0;
    border: solid .4rem map-get($theme-colors-secondary, base);
    margin: 2rem auto 0 auto;
    position: relative;
    list-style-type: none;
    border-radius: 50%;
  }

  &__item {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border: solid .2rem map-get($theme-colors-secondary, base);
    position: absolute;
    background-color: map-get($theme-colors-reverse, base);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 .1rem 0.25rem fade-out(map-get($theme-colors-reverse, darker), .8);

    &--top {
      top: 0;
      left: 50%;
    }

    &--right {
      top: 50%;
      left: 100%;
    }

    &--bottom {
      top: 100%;
      left: 50%;
    }

    &--left {
      top: 50%;
      left: 0;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: map-get($theme-colors-primary, darker);
  }

  @media screen and (min-width: $breakpoint-m) {
    width: 50%;
  }
}
