.skills {
    width: 100%;

    &__table {
        display: grid;
        grid-template-columns: repeat(auto-fit, 7.5rem);
        grid-template-areas:
          "language language"
          "code code"
          "design design"
          "transverse transverse";
        grid-gap: 1px;
    }

    &__group {
        display: grid;
        padding: 0;
        margin: 0;
        list-style-type: none;
        grid-gap: 1px;
        grid-template-columns: repeat(2, 1fr);

        &--language {
          grid-area: language;
        }

        &--code {
          grid-area: code;
        }

        &--design {
          grid-area: design;
        }

        &--transverse {
          grid-area: transverse;
        }
    }

    &__item {
        display: flex;
        box-sizing: border-box;
        height: 7.5rem;
        padding: .5rem;
        border-style: solid;
        border-width: 1px;
        position: relative;
        flex-direction: column-reverse;
        border-radius: 2px;

        &--language {
            background: linear-gradient(
              to bottom right,
              transparent,
              map-get($theme-colors-secondary, base));
            border-color: map-get($theme-colors-secondary, base);
        }

        &--code {
            background: linear-gradient(
              to bottom right,
              transparent,
              map-get($theme-colors-accent, base));
            border-color: map-get($theme-colors-accent, base);

            &:nth-child(6) {
              grid-column-start: 1;
            }
        }

        &--design {
            background: linear-gradient(
              to bottom right,
              transparent,
              map-get($theme-colors-tertiary, base));
            border-color: map-get($theme-colors-tertiary, base);
        }

        &--transverse {
            background: linear-gradient(
              to bottom right,
              transparent,
              map-get($theme-colors-fourth, base));
            border-color: map-get($theme-colors-fourth, base);
        }
    }

    &__name {
        width: 100%;
        padding-top: 1rem;
        font-size: $font-size-small;
        font-weight: $font-weight-semibold;
        color: map-get($theme-colors-reverse, base);
        line-height: $line-height-base;
    }

    &__icon {
        &-container {
            display: flex;
            flex-grow: 1;
            align-items: center;
        }

        height: 2.5rem;
        fill: map-get($theme-colors-reverse, base);
    }

    &__level {
      position: absolute;
      top: 0;
      right: 0;
    }

    @media screen and (min-width: $breakpoint-xs) {
      &__table {
          grid-template-areas:
            "language language language"
            "code code ."
            "design design design"
            "transverse transverse transverse"
      }

      &__group {
          &--language {
            grid-template-columns: repeat(3, 1fr);
          }

          &--code {
            grid-template-columns: repeat(2, 1fr);
          }

          &--design {
            grid-template-columns: repeat(3, 1fr);
          }

          &--transverse {
            grid-template-columns: repeat(3, 1fr);
          }
      }
    }

    @media screen and (min-width: $breakpoint-m) {
      &__table {
          grid-template-columns: repeat(7, 7.5rem);
          grid-template-areas:
            "language . . . . . transverse"
            "language code code code design design transverse"
            "language code code code design design ."
            ". code code code design design ."
      }

      &__group {
          grid-auto-flow: column;

          &--language {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
          }

          &--code {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
          }

          &--design {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
          }

          &--transverse {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
          }
      }

      &__item {
          &--code {
            &:nth-child(4) {
              grid-row-start: 2;
            }

            &:nth-child(6) {
              grid-column-start: auto;
              grid-row-start: 2;
            }
          }
      }
    }

    @media screen and (min-width: $breakpoint-l) {
      &__table {
          grid-template-columns: repeat(8, 7.5rem);
          grid-template-areas:
            "language . . . . design design transverse"
            "language code code code code design design transverse"
            "language code code code code design design transverse"
      }

      &__group {
          &--code {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
          }

          &--design {
            grid-template-rows: repeat(3, 1fr);
          }

          &--transverse {
            grid-template-rows: repeat(3, 1fr);
          }
      }

      &__item {
          &--code {
            &:nth-child(5) {
              grid-row-start: 2;
            }
            &:nth-child(4) {
              grid-row-start: auto;
            }
            &:nth-child(6) {
              grid-row-start: auto;
            }
          }
      }
    }
}
