$headings-font-sizes: (
  sixth: $font-size-base / $font-size-scale-ratio,
  fifth: $font-size-base,
  fourth: $font-size-base * $font-size-scale-ratio,
  third: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio,
  second: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio,
  first: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio,
  main: $font-size-base * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio * $font-size-scale-ratio
);

$headings-font-weights: (
  sixth: $font-weight-semibold,
  fifth: $font-weight-semibold,
  fourth: $font-weight-base,
  third: $font-weight-base,
  second: $font-weight-base,
  first: $font-weight-light,
  main: $font-weight-light
);

$headings-line-heights: (
  sixth: $line-height-base,
  fifth: $line-height-base,
  fourth: $line-height-small-1,
  third: $line-height-small-1,
  second: $line-height-small-1,
  first: $line-height-small-1,
  main: $line-height-small-2
);

$headings-letter-spacings: (
  sixth: $letter-spacing-large-2,
  fifth: $letter-spacing-large-2,
  fourth: $letter-spacing-base,
  third: $letter-spacing-base,
  second: $letter-spacing-base,
  first: $letter-spacing-base,
  main: $letter-spacing-small-1
);

$headings: sixth, fifth, fourth, third, second, first, main;

@each $heading in $headings {
  .heading,
  %heading {
    &--#{$heading} {
      font-size: map-get($headings-font-sizes, $heading);
      font-weight: map-get($headings-font-weights, $heading);
      line-height: map-get($headings-line-heights, $heading);
      letter-spacing: map-get($headings-letter-spacings, $heading);
      color: map-get($theme-colors-reverse, base);
    }
  }
}
