$texts-font-sizes: (
  base: $font-size-base,
  small: $font-size-base / $font-size-scale-ratio,
  strong: $font-size-base,
  link: $font-size-base
);

$texts-font-weights: (
  base: $font-weight-base,
  small: $font-weight-base,
  strong: $font-weight-semibold,
  link: $font-weight-semibold
);

$texts-line-heights: (
  base: $line-height-base,
  small: $line-height-base,
  strong: $line-height-base,
  link: $line-height-base
);

$texts-letter-spacings: (
  base: $letter-spacing-base,
  small: $letter-spacing-large-2,
  strong: $letter-spacing-large-1,
  link: $letter-spacing-large-1
);

$texts: base, small, strong, link;

@each $text in $texts {
  .text,
  %text {
    &--#{$text} {
      font-size: map-get($texts-font-sizes, $text);
      font-weight: map-get($texts-font-weights, $text);
      line-height: map-get($texts-line-heights, $text);
      letter-spacing: map-get($texts-letter-spacings, $text);
    }
  }
}
