@import 'variables/_breakpoints';
@import 'variables/_fonts';
@import 'variables/_colors';

@import 'components/history/history';
@import 'components/skills/skills';

body {
  background-color: map-get($theme-colors-primary, base);
  font-family: $font-family;
  color: map-get($theme-colors-reverse, darker-1);
}

.title {
  color: map-get($theme-colors-reverse,base);

  &--main {
    font-weight: 300;
    font-size: $font-size-h1;
  }

  &--sub {
    font-weight: 300;
    font-size: $font-size-h2;
  }

  &--minor {
    font-weight: 400;
    font-size: $font-size-h3;
  }
}
