.socials {
  padding-bottom: 5rem;

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    &-link {
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      padding: .5rem 0;
      text-decoration: none;
    }
    
    &-icon {
      width: 2rem;
      margin-right: 1rem;
      fill: map-get($theme-colors-reverse, base);
      transform: scale(1);
      transition: all .5s ease-out;
      
      .socials__item-link:hover &,
      .socials__item-link:focus &,
      .socials__item-link:active & {
        fill: map-get($theme-colors-accent, lighter);
        transform: scale(.75);
      }
    }
    
    &-description {
      position: relative;
      color: map-get($theme-colors-reverse, base);
      text-decoration: none;
      transition: color .5s ease-out;

      .socials__item-link:hover &,
      .socials__item-link:focus &,
      .socials__item-link:active & {
        color: map-get($theme-colors-accent, lighter);
      }

      &::after {
        content: "";
        display: block;
        width: 40%;
        max-width: 2rem;
        height: .2rem;
        position: absolute;
        bottom: -.5rem;
        left: 60%;
        background-color: map-get($theme-colors-accent, base);
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .4s ease-in-out,
          left .4s ease-out .1s;

        .socials__item-link:hover &,
        .socials__item-link:focus &,
        .socials__item-link:active & {
          left: 0;
          transform: scaleX(1);
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-m) {
    width: 50%;
  }
}
