.socials {
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-link {
      padding: .5rem 0;
      text-decoration: none;
    }

    &-icon {
      width: 2rem;
      flex-grow: 0;
      margin-right: .5rem;
      fill: map-get($theme-colors-reverse, base);
    }

    &-description {
      color: map-get($theme-colors-accent, base);
      text-decoration: none;
    }
  }

  @media screen and (min-width: $breakpoint-m) {
    width: 50%;
    padding-bottom: 5rem;
  }
}
