@import 'components/grid/grid.scss';
@import 'components/headings/headings.scss';
@import 'components/icons/icons.scss';
@import 'components/typography/typography.scss';
@import 'components/transitions/transitions.scss';


//
// Layout bases
//

body {
  @include font-sans(base);
  margin: 0;
  padding: 0;
  background: map-get($theme-color-primary, base);
}

p {
  margin-top: 0;
  margin-bottom: map-get($spacers, 4);

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  padding: 0;
  margin: 0;
  line-height: 1;
}

img {
  line-height: 1;
}

//
// Sr only
//

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}