//
// Colors
//

$theme-color-primary: (
  base: #14161f,
  lighter-1: #1c1e2b,
  lighter-2: #414453,
  lighter-3: #666b7b,
  lighter-4: #8b91a3,
  reverse: #ffffff,
);

$theme-color-accent: (
  base: #22e0ff,
  darker: #1692b5,
  lighter: #5be9ff,
);

$theme-color-secondary: (
  base: #dd1045,
  darker: #ad0d39,
  lighter: #e6517e,
);

$theme-color-tertiary: (
  base: #f97d3e,
  darker: #c36333,
  lighter: #faa079,
);

$theme-color-fourth: (
  base: #01ffa7,
  darker: #01ca8a,
  lighter: #43ffc2,
);

$opacities: (
  1: .04,
  2: .08,
  3: .16,
  4: .24,
  5: .32,
  6: .48,
  7: .64,
  8: .8
);

$fading-out: (
  0: 1,
  1: 1 - map-get($opacities, 1),
  2: 1 - map-get($opacities, 2),
  3: 1 - map-get($opacities, 3),
  4: 1 - map-get($opacities, 4),
  5: 1 - map-get($opacities, 5),
  6: 1 - map-get($opacities, 6),
  7: 1 - map-get($opacities, 7),
  8: 1 - map-get($opacities, 8),
);


//
// Typography
//

$font-family-sans: 'Montserrat', 'Avenir', 'Helvetica Neue', sans-serif;
$font-family-mono: 'Inconsolata', 'Ubuntu Mono', monospace;

$font-size-base: 1rem;
$font-size-scale-ratio: 1.25;
$font-size-small: $font-size-base / $font-size-scale-ratio;

$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 1.5; //for small, base
$line-height-small: 1.25; // for headings

$letter-spacing-base: .005em; // for base, base bold, 
$letter-spacing-large-1: .02em; // for small, base mono,
$letter-spacing-large-2: 0.12em; // for h5 capitalized
$letter-spacing-large-3: 0.16em; // for base capitalized
$letter-spacing-small-1: 0; // for heading h5, h2, h1
$letter-spacing-small-2: -.005em; // for heading h4, h3


//
// Icons
//

$icon-sizes: (
  s: 1rem,
  m: 1.25rem,
  l: 1.5rem,
  xl: 2rem
);

$icon-wrapper-sizes: (
  s: 2.5rem,
  m: 3rem,
  l: 4rem
);


//
// Spacers
//

$spacer: 1rem;
$spacers: (
  1: $spacer / 8,
  2: $spacer / 4,
  3: $spacer / 2,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 2,
  8: $spacer * 3,
  9: $spacer * 4,
  10: $spacer * 5,
);


//
// Breakpoints
//

$breakpoint-xs: 30rem;
$breakpoint-s: 40rem;
$breakpoint-m: 60rem;
$breakpoint-l: 80rem;

$container-max-width: 82rem;


//
// Z-index
//

$z-index: (
  base: 0,
  base-increase: 1,
  base-decrease: -1,
);
