$blue-primary: #08061f;
$blue-secondary: #0c0a12;
$blue-tertiary: #d4e9f1;
$blue-fourth: #17ffff;

$purple-primary: #b72ebe;
$red-primary: #fd226b;
$green-primary: #00ff9d;
$orange-primary: #ffb62f;

$white-primary: #fff;


$theme-colors-primary: (
    base: $blue-primary,
    darker: $blue-secondary,
    lighter-1: mix($blue-primary, $blue-tertiary, 16%),
    lighter-2: mix($blue-primary, $blue-tertiary, 48%)
);

$theme-colors-accent: (
    base: $blue-fourth,
    darker: mix($blue-fourth, $blue-primary, 32%),
    lighter: mix($blue-fourth, $blue-tertiary, 64%)
);

$theme-colors-secondary: (
    base: $purple-primary,
    darker: mix($purple-primary, $blue-primary, 32%),
    lighter: mix($purple-primary, $blue-tertiary, 48%)
);

$theme-colors-tertiary: (
    base: $red-primary,
    darker: mix($red-primary, $blue-primary, 32%),
    lighter: mix($red-primary, $blue-tertiary, 48%)
);

$theme-colors-fourth: (
    base: $green-primary,
    darker: mix($green-primary, $blue-primary, 32%),
    lighter: mix($green-primary, $blue-tertiary, 64%)
);

$theme-colors-fifth: (
    base: $orange-primary,
    darker: mix($orange-primary, $blue-primary, 32%),
    lighter: mix($orange-primary, $blue-tertiary, 48%)
);

$theme-colors-reverse: (
    base: $white-primary,
    darker: $blue-tertiary
);
