.history {
  width: 100%;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-direction: column;
  }

  &__item {
    box-sizing: border-box;
    padding: 1rem 0 1rem 3rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 100%;
      border-left-style: solid;
      border-left-width: .063rem;
      border-right-style: solid;
      border-right-width: .063rem;
      position: absolute;
      top: 0;
      left: 1.063rem;
    }

    &-icon {
      width: 1.25rem;
      height: 1.25rem;
      fill: map-get($theme-colors-primary, darker);

      &-container {
        display: flex;
        width: 2rem;
        height: 2rem;
        border-style: solid;
        border-width: .125rem;
        justify-content: center;
        align-items: center;
        background-color: map-get($theme-colors-reverse, base);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        .history__item--school & {
          border-color: map-get($theme-colors-tertiary, base);
        }

        .history__item--experience & {
          border-color: map-get($theme-colors-fifth, base);
        }
      }
    }

    &-title {
      margin: 0 0 .25rem 0;
      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      color: map-get($theme-colors-reverse, base);
    }

    &-place,
    &-date {
      display: block;
      font-size: $font-size-small;
      line-height: $line-height-base;
    }

    &--school {
      &::before {
        border-left-color: map-get($theme-colors-tertiary, base);
        border-right-color: map-get($theme-colors-tertiary, base);
      }
    }

    &--experience {
      &::before {
        border-left-color: map-get($theme-colors-fifth, base);
        border-right-color: map-get($theme-colors-fifth, base);
      }
    }
  }

  @media screen and (min-width: $breakpoint-xs) {
    &__item {
      box-sizing: border-box;
      width: 50%;
      position: relative;

      &-icon-container {
        position: absolute;
        transform: translate(-50%, -50%);

        .history__item--school & {
          left: 100%;
        }
      }

      &-title {
        .history__item--school & {
          text-align: right;
        }
      }

      &-place,
      &-date {
        .history__item--school & {
          text-align: right;
        }
      }

      &--school {
        padding: 1rem 2rem 1rem 0;
        align-self: flex-start;

        &::before {
          left: 100%;
          transform: translateX(-.063rem);
        }
      }

      &--experience {
        padding: 1rem 0 1rem 2rem;
        align-self: flex-end;

        &::before {
          left: 0;
          transform: translateX(-.063rem);
        }
      }
    }
  }

  @media screen and (min-width: $breakpoint-l) {
    &__list {
      flex-direction: row;
    }

    &__item {
      width: 12.5%;
      padding: 0;

      &::before {
        width: 100%;
        height: 0;
        left: 0;
      }

      &-description {
        position: absolute;
        width: 200%;

        .history__item--school & {
          bottom: 1rem;
          left: 50%;
          transform-origin: left bottom;
          transform: translateX(2rem) rotate(330deg);
        }

        .history__item--experience & {
          top: 1rem;
          right: 50%;
          transform-origin: right top;
          transform: translateX(-2rem) rotate(330deg);
        }
      }

      &-icon-container {
        transform: translate(-50%, -50%);

        .history__item--school & {
          left: 50%;
          top: 100%;
        }

        .history__item--experience & {
          left: 50%;
          top: 0;
        }
      }

      &-title,
      &-place,
      &-date {
        .history__item--school & {
          text-align: left;
        }

        .history__item--experience & {
          text-align: right;
        }
      }

      &--school {
        height: 15rem;
        align-self: flex-start;

        &::before {
          border-top: solid .125rem map-get($theme-colors-tertiary, base);
          border-right: none;
          border-left: none;
          top: 100%;
        }
      }

      &--experience {
        height: 10rem;
        align-self: flex-end;
        margin-top: 19rem;

        &::before {
          border-right: none;
          border-bottom: solid .125rem map-get($theme-colors-fifth, base);
          border-left: none;
          bottom: 100%;
        }
      }

      &--junction-experience {
        &::before {
          top: 100%;
          left: -100%;
          border-right: solid .125rem map-get($theme-colors-tertiary, base);
          border-top-right-radius: .5rem;
          transform-origin: top right;
          transform: translate(-.125rem, 0) skewX(30deg);
        }
      }

      &--junction-school {
        &::before {
          top: auto;
          bottom: 100%;
          border-left: solid .125rem map-get($theme-colors-fifth, base);
          border-bottom-left-radius: .5rem;
          transform-origin: bottom left;
          transform: translateY(.125rem) skewX(30deg);
        }
      }

      &--junction-experience,
      &--junction-school {
        &::before {
          width: 200%;
          height: 3.825rem;
        }
      }
    }
  }
}
